body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.subtitle {
  color: #006eb6;
}

h1,
h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  height: auto;
}
